/* Progress bar */
  /* https://github.com/yihui/xaringan/wiki/Progressbar */
  
.remark-slide-number {
    position: inherit;
  }

.remark-slide-number .progress-bar-container {
  position: absolute;
  top: 0;
  height: 6px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}
